body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
    padding: 10px 200px;
}

h1 {
    font-size: 24px;
    color:#F9FAF8;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

li {
    list-style-type: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-section {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
    margin: 0;
}

.hero-section p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
}

.hero-left {
    max-width: 500px;
    flex-shrink: 2;
}

button {
    background-color: #3882F6;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    flex-shrink: 0;
}

.hero-section img {
    min-width: 250px;
    height: 100%; 
    margin-left: 25px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.info-section ul {
    flex-wrap: wrap;
    gap: 50px;
}

.info-box {
    width: 165px;
    height: 165px;
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.info-section p {
    font-size: 18px;
    text-align: center;
    max-width: 175px;
    margin: 10px auto;
}

.quote-section {
    background-color: #E5E7EB;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 820px;
    padding-left: 80px;
}

.quote-section p {
    font-style: italic;  
}

.quote-section b {
    align-self: flex-end;
}

.cta-section {
    display: flex;
    justify-content: center;
    padding: 100px;
    color: #E5E7EB;
}

.banner {
    background-color:#3882F6;
    width: 800px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.cta-section p {
    font-size: 18px;
    margin: 0;
}

.cta-section button {
    border-color: #E5E7EB;
    border-style: solid;
}